# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Build output
build/


# NPM package lock file (if you don't want to commit it)
package-lock.json
